

.layer-4 .card
{
  margin-top: 25px;
  border-radius: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#alink
{
  color: grey;
}
#forpadding
{
  padding: 5px;
  width: 90%;
}
.navbarimages
{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
.navbarimages #logo{
  width: 20%;
}
.navbarimages #logo2
{
  margin-left: 10px;
  width:30%;
}
.navbarproceed
{
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.navbarmenu
{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#forpadding #marginforul1
{
  float: right;

}
#marginforul1 li
{

  padding: 8px;
  background-color: yellow;
  border-radius: 10px;
  margin-right: 5px;

}
#marginforul1 li:hover
{
  background-color: grey;
}
#marginforul1 a:hover
{
  color: whitesmoke;
}

#forcontent4img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* .layer-1 .card{
  margin-top: 25px;
  border-radius: 15px;
} */

/* content 1 */
/* #bg_card {
  background-color: rgba(0, 0, 0, 0.2);
} */

/* Emman */

.header {
  font-size: 38px;
}
#p {
  font-size: 20px;
}

.content_pad {
  padding: 30px 90px;
}

.cardcheck{
border-radius: 18px;
}

.text_content {
  color: #abaeba;
  font-size: 20px;
  letter-spacing: .5px;
  line-height: 38px;
  margin-bottom: 18px;
}

.text_subtle {
  color: #1a237e;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 14px;
}

/* Emman / content ends */

.nav-sticky{
  z-index: 10;
  top: 0;
  position: sticky;
  background: #fff;
}


/* hannah-5/6/21:Add /footer-starts here */



.footer-section-content
{
  color: #343a40;
  font-size: 15px;
  text-align: justify;
}

.footer-section-title
{
  color: #343a40;
  font-size: 15px;
}

.list-unstyled a
{
  color: #6c757d;
  font-size: 13px;
  text-decoration: none;
  line-height: 300%;
}
.card-top .img1 {
  width: 60px;
  height: auto;
  margin-right: 10px;
}
.card-top .img2{
    width: 90px;
    height: auto;
}
.list-unstyled a:hover
{
  color: #6c757d;
  text-decoration: underline;
}
.container-footer .card{
  padding: 25px 50px;
}
/* hannah-5/6/21:Add content/footer-ends here */
