
#qrcode{
    width: 50%;
    height: auto;
}

.layer-4 .card
{
  margin-top: 25px;
  border-radius: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#alink
{
  color: grey;
}
#forpadding
{
  padding: 0px;
  width: 90%;
  /* height: 20 px; */
}
.navbarimages
{
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.navbarimages #logo{
  width: 20%;
}
.navbarimages #logo2
{
  margin-left: 10px;
  width:30%;
}
.navbarproceed
{
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
.navbarmenu
{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#forpadding #marginforul1
{
  float: right;

}
#marginforul1 li
{

  padding: 8px;
  background-color: yellow;
  border-radius: 10px;
  margin-right: 5px;

}
#marginforul1 li:hover
{
  background-color: grey;
}
#marginforul1 a:hover
{
  color: whitesmoke;
}

#forcontent4img img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* .layer-1 .card{
  margin-top: 25px;
  border-radius: 15px;
} */

/* content 1 */
/* #bg_card {
  background-color: rgba(0, 0, 0, 0.2);
} */

/* Emman */

.header {
  font-size: 38px;
}
#p {
  font-size: 20px;
}

.content_pad {
  padding: 30px 90px;
}

.cardcheck{
border-radius: 18px;
}

.text_content {
  color: #abaeba;
  font-size: 20px;
  letter-spacing: .5px;
  line-height: 38px;
  margin-bottom: 18px;
}

.text_subtle {
  color: #1a237e;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 14px;
}

/* Emman / content ends */

.nav-sticky{
  z-index: 10;
  top: 0;
  position: sticky;
  background: #fff;
}


/* hannah-5/6/21:Add /footer-starts here */



.container-footer .card
{
  padding: 25px 50px;
}

.card-top .img1 {
  width: 60px;
  height: auto;
  margin-right: 10px;
}
.card-top .img2{
    width: 90px;
    height: auto;
}

.footer-section-content
{
  color: #343a40;
  font-size: 15px;
  text-align: justify;
  padding-right: 30px;
}


.footer-section-title
{
  color: #343a40;
  font-size: 15px;
}

.list-unstyled a
{
  color: #6c757d;
  font-size: 13px;
  text-decoration: none;
  line-height: 300%;
}

.list-unstyled a:hover
{
  color: #6c757d;
  text-decoration: underline;
}
/* hannah-5/6/21:Add content/footer-ends here */

/* #stepper{
  z-index: 12;
  top: 0;
  position: sticky;
 
} */

/* hannah */
.signup h4
{
  text-align:center;
  margin-bottom: 20px;
}

.signup .row .col-md-9
{
  margin-bottom: 20px;
}

.signup .row .col-md-10
{
  margin-bottom: 20px;
}
.signup .container-address .col-md
{
  margin-left: 15%;
  margin-bottom: 20px;
  width: auto;
}

.signup .row p
{
  margin-top: 25px;
  text-align: center;

  
}
.signup .row p a
{
  text-decoration: none;
}

.signup .row p a:hover
{
  text-decoration: underline;
}

input[id=age]::-webkit-inner-spin-button, 
input[id=age]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[id=age]
{
  width: 220px;
  height: auto;
}

input[id=contact]::-webkit-inner-spin-button, 
input[id=contact]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[id=txtzip]
{
  width: 210px;
  height: auto;
}

input[id=txtzip]::-webkit-inner-spin-button, 
input[id=txtzip]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

input[id=txtcode]::-webkit-inner-spin-button, 
input[id=txtcode]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* hannah */

/* login   by ella on may 12 2021*/
/* shadow */
.login .col-md-6 .card-title{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: bold;
  
}

.login .form-outline{
  margin-bottom: 30px;
  border-radius: 18px;
}


.login .card{
  border-radius: 30px;
  padding-left: 60px;
  padding-right: 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;}

.login .col-md-6 img{
  margin-left: -20%;
  margin-top: 60px;
  height: 400px;
  width: 700px;
}

.login p a{
  text-decoration: none;
}

.login p a:hover{
text-decoration: underline;
}

.login button{
text-transform: initial;
width: 100px;
height: 40px;
border-radius: 5px;
}

.login .form-outline i{
  position: absolute;
}

/* .login .form-control{
  text-align: center;
} */

.login .user{
  text-align: left;
  text-indent: 30px;
  font-size: 18px;
  letter-spacing: 1px;
  width: 100%;
  font-weight: 450;
  display: block;
  border: none;
  border-bottom: 1px solid #999;
  padding: 6px 30px;
  box-sizing: border-box;
    
}

.login input, select, textarea{
  outline: none;
  appearance: unset!important;
  -moz-appearance: unset!important;
  -webkit-appearance: unset!important;
  -o-appearance: unset!important;
  -ms-appearance: unset!important;
}

.login [placeholder]:focus::-webkit-input-placeholder{
  transition: text-indent 0.2s 0.2s ease;
  text-indent: -200%;
  opacity: 1;
}

.icon{
padding: 10px;
color: #828385;
min-width: 50px;

}


/* login end */

/* forgotpassword */

.forgotpassword .col-md-6 img{
  margin-left: -10%;
  margin-top: 30px;
}

.forgotpassword .col-md-6 .card-title{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: bold;
  
}

.forgotpassword .card{
  border-radius: 30px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.forgotpassword button{
  text-transform: initial;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  }

.modal-footer button{
  text-transform: initial;
}

/* reset password */

.resetpassword .col-md-6 img{
  margin-left: -5%;
  margin-top: 60px;
}

.resetpassword .col-md-6 .card-title{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  font-weight: bold;
  
}

.resetpassword .card{
  border-radius: 30px;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.resetpassword button{
  text-transform: initial;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  }
/* reset end */
/* ended on may 14 2021 */

/* hannah */

#navbarAdminImages #logo
{
  width: 10%;
}

#navbarAdminImages #logo2
{
  margin-left: 10px;
  width:15%;
}
#navbarAdminmenu{
  padding-left: 40px;
  font-size: 1.3em;
  font-weight: 500;
}


#navbarRightAlignExample #notification, #message, #navbarDropdown
{
  padding: 0%;
  font-size: 1.5em;
  color: #808080;
  margin-right: 90px;
}

.admin .row h3, h2{
  text-align: center;
}

.admin .card
{
  border-radius: 10px;
}

.admin .container2 #usericons{
  float:left;
  font-size: 4em;
  padding-left: 10%;
}

#navbarIcon 
{
  font-size: 1.8em;
}
.profileicon
{
  text-decoration: none;
  color: #606266;
}
#usermanagelink 
{
  text-decoration: none;
  color: #606266;
}

.admin .container2 .text a
{
  text-decoration: none;
  color: #000000;
}

.admin .container2 .text
{
  float:left;
  padding-left: 20px;

}
.admin .row .content1 p{
  text-align: justify;
  padding: 5px 100px;
}

.admin .footerAdmin .links a
{
  font-size: 13px;
  color: #6c757d;
  text-decoration: none;
}
.admin .footerAdmin .links a:hover
{
  text-decoration: underline;
}

.content1 #classbtn
{
  text-transform: initial;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
}
.admin .row .rightside2 p{
  text-align: justify;
  padding: 5px 30px;
}
.rightside2 #classbtn
{
  text-transform: initial;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  width: 30%;
}

#navbarAdminmenu .nav-link:hover::after{
  color: #1a237e;
}


.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 235px;
  min-height: 100%;
}

.admin .el-menu-item a{
  color: #000000;
  text-decoration: none;
}


.admin .el-menu-vertical-demo{
  position: fixed;
}

.admin #adminnavbar
{
  z-index: 10;
  top: 0;
  position: sticky;
}
.admin .el-menu-vertical-demo span{
  font-size: 1.1em;
}


.admin .el-dialog
{
  border-radius: 10px ;
}


/* admin profile */

#adminprofile
{
  font-size: 6em;
  color:  #909399;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 150px;
  height: 150px;
  line-height: 150px;
  text-align: center;
}

/* hannah */

/* navbar for teacher/ student by ella*/
#navbarSupportedContent ul{
  margin-left: 15px;
}
#navbarSupportedContent li{
  margin-right: 30px;
}
#navbarSupportedContent li a{
  position: inherit;
  font-size: 1.5em;
  font-weight: 700px;
}

#navbarDropdownMenuLink{
  color: #797575;
  margin-right: 5%;
  text-decoration: none;
}
#navbarSupportedContent #teacherHome:hover{
  position: relative;
  transition: 0.4s;
  color: rgb(10, 10, 10);
  font-size: 1.7em;
  font-weight: bold;
}

#navbarSupportedContent #teacherClass:hover{
  position: relative;
  transition: 0.4s;
  color: rgb(10, 10, 10);
  font-size: 1.7em;
  font-weight: bold;
}

#navbarSupportedContent #teacherCalendar:hover{
  position: relative;
  transition: 0.4s;
  color: rgb(10, 10, 10);
  font-size: 1.7em;
  font-weight: bold;
}

#navbarSupportedContent .nav-link:start{
  color: rgb(10, 10, 10);
  font-size: 1.7em;
  font-weight: bold;
}

/* teacher class  ELLA*/
.teacher .card{
  /* width: 80%; */
  margin-top: 20px;
  /* margin-left: 0px; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  /* height: auto; */
}

.teacher .card-body{
  padding-top: 5px;
  margin-bottom: 115px;
}
.teacher #rowcard1{
  height: 60px;
}

/* .teacher #col1, #col2{
  border-right: 1px solid rgb(187, 184, 184);
  height: 80px;
} */

.teacher .classtabs{
  position: absolute;
  margin-top: -80px;
}

/* .teacher h4{
  text-align: center;
} */

.teacher .btnAddClass{
  margin-top: 10px;
  float: right;
}

.teacher #select{
 border: none;
 width: 450px;
 height: 60px;
 font-size: 2em;
 color: #303133;
}

.teacher #col1{
  border-bottom: 1px solid rgb(211, 208, 208);
  width: 450px;
}

/* switch */
.onoffswitch {
	position: relative; width: 78px;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
	}
	 
	.onoffswitch-checkbox {
	position: absolute;
	opacity: 0;
	pointer-events: none;
	}
	 
	.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #D9D9D9; border-radius: 7px;
	}
	 
	.onoffswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
	}
	 
	.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
	font-size: 8px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	box-sizing: border-box;
	}

  /* switch */
	.onoffswitch-inner:before {
	content: "LOCKED";
	padding-left: 12px;
	background-color: #EEEEEE; color: #999999;
	}
	 
	.onoffswitch-inner:after {
	content: "UNLOCKED";
	padding-right: 4px;
	background-color: #EEEEEE; color: #999999;
	text-align: right;
	}
	 
	.onoffswitch-switch {
	display: block; width: 22px; margin: -2px;
	background: #BDBBBB;
	position: absolute; top: 0; bottom: 0;
	right: 56px;
	border: 2px solid #D9D9D9; border-radius: 7px;
	transition: all 0.3s ease-in 0s;
	}
	 
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0;
	}
	 
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0px;
	background-color: #6495F2;
	}
  /* end of switch */
/* end ELLA */

.avatar {
  width: 150px;
  height: 150px;
  display: block;
}
input[id=contact]::-webkit-inner-spin-button, 
input[id=contact]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
input[id=txtzip]::-webkit-inner-spin-button, 
input[id=txtzip]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

/* hannah */
